# Data Analysis - COVID

## Project 1

In [2]:
# Importing libraries
import numpy as np
import pandas as pd

In [3]:
# Importing dataset

df = pd.read_csv("country_wise_latest.csv")
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

### Q1 Find the number of unique countries.

In [4]:
countries = list(df["Country/Region"].unique())
print("The number of unique countries are: ", len(countries))

The number of unique countries are:  187

### Q2 Check the null values in the dataset.

In [5]:
df.isnull().sum()

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

## Project 2

### Q1 Which  country is having maximum confirmed cases?

In [6]:
country = df.sort_values(by="Confirmed", ascending=False).head(1).values[0][0]
cases = df.sort_values(by="Confirmed", ascending=False).head(1).values[0][1]

In [7]:
print("The country which has maximum confirmed cases is", country, "with", cases, "number of cases.")

The country which has maximum confirmed cases is US with 4290259 number of cases.

### Q2 Which country is having maximum number of deaths?

In [8]:
country_d = df.sort_values(by="Deaths", ascending=False).head(1).values[0][0]
deaths = df.sort_values(by="Deaths", ascending=False).head(1).values[0][2]

In [9]:
print("The country which has maximum deaths is", country_d, "with", deaths, "number of deaths.")

The country which has maximum deaths is US with 148011 number of deaths.

## Project 3

### Q1 What are the average cases in a country?

In [10]:
print("The average cases in a country are: ")
for i in range(len(df["Country/Region"])):
    print(df["Country/Region"][i], " ------ ", df["Confirmed"][i])

The average cases in a country are:
Afghanistan  ------  36263
Albania  ------  4880
Algeria  ------  27973
Andorra  ------  907
Angola  ------  950
Antigua and Barbuda  ------  86
Argentina  ------  167416
Armenia  ------  37390
Australia  ------  15303
Austria  ------  20558
Azerbaijan  ------  30446
Bahamas  ------  382
Bahrain  ------  39482
Bangladesh  ------  226225
Barbados  ------  110
Belarus  ------  67251
Belgium  ------  66428
Belize  ------  48
Benin  ------  1770
Bhutan  ------  99
Bolivia  ------  71181
Bosnia and Herzegovina  ------  10498
Botswana  ------  739
Brazil  ------  2442375
Brunei  ------  141
Bulgaria  ------  10621
Burkina Faso  ------  1100
Burma  ------  350
Burundi  ------  378
Cabo Verde  ------  2328
Cambodia  ------  226
Cameroon  ------  17110
Canada  ------  116458
Central African Republic  ------  4599
Chad  ------  922
Chile  ------  347923
China  ------  86783
Colombia  ------  257101
Comoros  ------  354
Congo (Brazzaville)  ------  3200
Congo (Kinshasa)  ------  8844
Costa Rica  ------  15841
Cote d'Ivoire  ------  15655
Croatia  ------  4881
Cuba  ------  2532
Cyprus  ------  1060
Czechia  ------  15516
Denmark  ------  13761
Djibouti  ------  5059
Dominica  ------  18
Dominican Republic  ------  64156
Ecuador  ------  81161
Egypt  ------  92482
El Salvador  ------  15035
Equatorial Guinea  ------  3071
Eritrea  ------  265
Estonia  ------  2034
Eswatini  ------  2316
Ethiopia  ------  14547
Fiji  ------  27
Finland  ------  7398
France  ------  220352
Gabon  ------  7189
Gambia  ------  326
Georgia  ------  1137
Germany  ------  207112
Ghana  ------  33624
Greece  ------  4227
Greenland  ------  14
Grenada  ------  23
Guatemala  ------  45309
Guinea  ------  7055
Guinea-Bissau  ------  1954
Guyana  ------  389
Haiti  ------  7340
Holy See  ------  12
Honduras  ------  39741
Hungary  ------  4448
Iceland  ------  1854
India  ------  1480073
Indonesia  ------  100303
Iran  ------  293606
Iraq  ------  112585
Ireland  ------  25892
Israel  ------  63985
Italy  ------  246286
Jamaica  ------  853
Japan  ------  31142
Jordan  ------  1176
Kazakhstan  ------  84648
Kenya  ------  17975
Kosovo  ------  7413
Kuwait  ------  64379
Kyrgyzstan  ------  33296
Laos  ------  20
Latvia  ------  1219
Lebanon  ------  3882
Lesotho  ------  505
Liberia  ------  1167
Libya  ------  2827
Liechtenstein  ------  86
Lithuania  ------  2019
Luxembourg  ------  6321
Madagascar  ------  9690
Malawi  ------  3664
Malaysia  ------  8904
Maldives  ------  3369
Mali  ------  2513
Malta  ------  701
Mauritania  ------  6208
Mauritius  ------  344
Mexico  ------  395489
Moldova  ------  23154
Monaco  ------  116
Mongolia  ------  289
Montenegro  ------  2893
Morocco  ------  20887
Mozambique  ------  1701
Namibia  ------  1843
Nepal  ------  18752
Netherlands  ------  53413
New Zealand  ------  1557
Nicaragua  ------  3439
Niger  ------  1132
Nigeria  ------  41180
North Macedonia  ------  10213
Norway  ------  9132
Oman  ------  77058
Pakistan  ------  274289
Panama  ------  61442
Papua New Guinea  ------  62
Paraguay  ------  4548
Peru  ------  389717
Philippines  ------  82040
Poland  ------  43402
Portugal  ------  50299
Qatar  ------  109597
Romania  ------  45902
Russia  ------  816680
Rwanda  ------  1879
Saint Kitts and Nevis  ------  17
Saint Lucia  ------  24
Saint Vincent and the Grenadines  ------  52
San Marino  ------  699
Sao Tome and Principe  ------  865
Saudi Arabia  ------  268934
Senegal  ------  9764
Serbia  ------  24141
Seychelles  ------  114
Sierra Leone  ------  1783
Singapore  ------  50838
Slovakia  ------  2181
Slovenia  ------  2087
Somalia  ------  3196
South Africa  ------  452529
South Korea  ------  14203
South Sudan  ------  2305
Spain  ------  272421
Sri Lanka  ------  2805
Sudan  ------  11424
Suriname  ------  1483
Sweden  ------  79395
Switzerland  ------  34477
Syria  ------  674
Taiwan*  ------  462
Tajikistan  ------  7235
Tanzania  ------  509
Thailand  ------  3297
Timor-Leste  ------  24
Togo  ------  874
Trinidad and Tobago  ------  148
Tunisia  ------  1455
Turkey  ------  227019
US  ------  4290259
Uganda  ------  1128
Ukraine  ------  67096
United Arab Emirates  ------  59177
United Kingdom  ------  301708
Uruguay  ------  1202
Uzbekistan  ------  21209
Venezuela  ------  15988
Vietnam  ------  431
West Bank and Gaza  ------  10621
Western Sahara  ------  10
Yemen  ------  1691
Zambia  ------  4552
Zimbabwe  ------  2704

### Q2 What is the total number of deaths as per the datasets?

In [11]:
print("The total number of deaths as per the datasets is:", df['Deaths'].sum())

The total number of deaths as per the datasets is: 654036

### Q3 What is the total number of confirmed cases?

In [12]:
print("The total number of confirmed cases as per the datasets is:", df['Confirmed'].sum())

The total number of confirmed cases as per the datasets is: 16480485

## Project 4

### Q1 Deal with the null values and fill null values with 0.

In [13]:
df.isnull().sum() # As there are no null values so we can proceed further

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64